*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2em 0;
  margin-bottom: 2em;
}

.form-container,
.movie-list-container {
  display: grid;
  place-content: center;
  margin-bottom: 2em;
}

.form,
.movie-list,
.image-upload {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #80808048;
  border-radius: 5px;
  padding: 3.5em 2em;
  background: #8080803d;
}

.form-title {
  margin-bottom: 0.75em;
}

.movie-list + .movie-list,
.image-upload {
  margin-top: 2em;
}

.movie-list:last-child,
.image-upload {
  margin-bottom: 2em;
}

.movie-output {
  width: 90%;
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #8f8f8f60;
}

.movie-output:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}

.movie-checkbox-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-checkbox {
  width: auto;
  margin: 0 1em;
  padding: 0;
}

.movie-title {
  text-align: center;
}

.oscar-label {
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="file"],
button[type="text"] {
  font-family: inherit;
  font-size: inherit;
}

input::placeholder {
  color: #80808088;
}

input {
  width: 300px;
  margin-bottom: 1.5em;
  padding: 0.5em;
  border: 1px solid #80808062;
  border-radius: 5px;
}

.btn {
  padding: 0.4em 0.75em;
  border: 1px solid #80808062;
  border-radius: 5px;
}

.btn + .btn {
  margin-top: 1em;
}

.btn:hover {
  color: white;
  background: black;
}

.movie-btn {
  margin: 1em 0;
}

.movie-update-btn {
  margin-bottom: 1.25em;
}
